.clue {
  display: inline-flex;
  align-items: center;

  position: absolute;
  top: -40px;
  z-index: 400;

  min-height: 35px;
  padding: 8px 10px;

  box-shadow: var(--box-shadow);
  background-color: var(--white);
  color: var(--black);
  border-radius: 15px;

  font-family: var(--font-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &_error {
    color: var(--red);
  }

  &__tail {
    filter: drop-shadow(var(--drop-shadow));
    position: absolute;
    bottom: -9px;
    left: 15px;
    z-index: 399;
  }
}
