.table {
  &__scroll {
    overflow: auto;
  }

  &__cell {
    border-top: 2px solid var(--green);
    border-bottom: 2px solid var(--green);
    background-color: var(--gray2);
    min-width: 31px;
    position: relative;
  }

  &__header {
    padding: 0 1px;
    position: relative;
  }

  &__header_day {
    margin: auto;
    height: 47px;
    width: 31px;
    line-height: 47px;
    text-align: center;
    vertical-align: middle;
    color: var(--white);
    background: var(--orange);
    font-family: var(--font-roboto);
    font-size: 20px;
    font-weight: 500;

    &__today {
      color: var(--green);
      background: var(--white);
    }
  }

  &__header_month {
    height: 100%;
    font-weight: 700;
    line-height: 23px;
    padding: 6px 0;
    border: none;
    color: var(--white);
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(
      97.03deg,
      var(--green) 7.5%,
      var(--gradient-green3) 94.35%
    );
  }

  &__stickyCell {

    border-right: 2px solid var(--green);
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    overflow-y: auto;

    display: flex;
    place-items: center;
    justify-content: center;

    &_overdueProject {
      background-color: var(--red); 
      color: var(--white);
    }

    &_overdueOperations {
      color: var(--red);
    }
  }
}