.dateCell { 
  background-color: var(--grey2);

  &_operation {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--orange);
  }

  &_ended {
    background-color: var(--light-green);
    color: var(--black);
    border: none;
  }

  &_inWork {
    background-color: var(--orange);
    color: var(--white);
    border: none;
  }

  &_available {
    background-color: var(--green);
    color: var(--white);
    border: none;
  }

  height: 95px;
  
  z-index: 3;
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 18px;
  display: flex;
  place-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  top: 0;

  &__wrapper {
  overflow-x: hidden;

    &_overdue {
      background-color: var(--white);
      border-radius: 10px;
      color: var(--red);
    }
  }

  &__clue {
    display: inline-flex;
    align-items: center; 
    
    position: absolute;
    top: -40px;
    z-index: 400;

    min-height: 35px;
    padding: 8px 10px;
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    background-color: var(--white);
    color: var(--black);
    border-radius: 15px; 

    &_tail {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
      position: absolute;
      bottom: -9px;
      left: 15px;
      z-index: 399;
    }
  }
}
